<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shoes4jo.mapper.MemberMapper">
	<sql id="selectMemberSql">
		SELECT
				member_id,
				member_name,
				member_pw,
				signup_date
		FROM member
	</sql>
	
	<resultMap type="Member" id="memberResultMap">
		<result property="MemberID" column="member_id"/>
		<result property="MemberName" column="member_name"/>
		<result property="MemberPW" column="member_pw"/>
		<result property="SignUpDate" column="signup_date"/>
	</resultMap>
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM member
	</select>
	
	<select id="selectAll" resultMap="memberResultMap">
		<include refid="selectMemberSql"/>
	</select>
	
	<select id="selectMember" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql"/>
		WHERE member_id = #{MemberID} AND u_status = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO member (
		    member_id, member_name, member_pw, 
		    signup_date
		) VALUES (
		    #{MemberID}, #{MemberName}, #{MemberPW}, #{SignUpDate}
		)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE member
		SET
			member_id 	= #{MemberID},
			member_name = #{MemberName},
			member_pw 	= #{MemberPW},
			signup_date = #{SignUpDate}
		WHERE member_id = #{MemberID}
	</update>
	
	<update id="updatePwd" parameterType="map">
		UPDATE member SET member_pw = #{newPwd} WHERE member_id = #{MemberID}
	</update>
	
	<update id="deleteMember" parameterType="int">
		UPDATE member
			SET u_status = 'N'
		WHERE member_id = #{MemberID}
	</update>
	
	<insert id="insertKakaoMember" parameterType="Member">
		INSERT INTO member (
		    member_id, member_name, 
		    member_pw, signup_date
		) VALUES (
		    #{MemberID}, #{MemberName}, 
		    #{MemberPW}, NULL,
		    NULL, 'Y', DEFAULT, DEFAULT
		)
	</insert>

</mapper>
