@charset "UTF-8";

.form-wrapper {
	max-width: 768px;
}


.line {
	background: linear-gradient(60deg, #6ECCAF 0%, #ADE792 30%, #ADE792 50%, #E9FFC2 90% , #FDFFAE 100%);
	height: 3px;
	margin: 1rem 0;
}

.thumb img {
	width: 100%;
	max-width: 500px;
	margin: 2rem 0;
}

table td:nth-child(1) {
	width: 20%;
	font-weight: bold;
}

table td:nth-child(2) {
	text-align: left;
}

.thumb img {
	width: 100%;
	max-width: 500px;
	margin: 2rem 0;
}


.badge {
    background-color: #ededed;
    color: gray;
    outline: none;
    border: none;
    margin: 0 5px;
    font-weight: 400;
}

.comment-wrapper{
	padding: 0 1rem;
}

.comment-header {
    text-align: left;
    margin-left: 1.5rem;
}

.comment-box {
	background-color: #FAFAFA;
}

.comment-write {
	display: grid;
    grid-template-columns: 150px 1fr 150px;
    gap: 8px;
    align-items: center;
    margin: 1.5rem 0;
}

.comment-line{
	padding: 0.75rem 1.5rem;
    text-align: left;
    display: grid;
    grid-template-columns: 135px 1fr 135px;
    border-bottom: 1px solid #ccc;
}

.btn-comment{
	border: 1px solid #6ECCAF;
	color: #6ECCAF;
	background: white;
    padding: 0.3rem 0 0.3rem 0.6rem;
}

